<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Учить</title>
</head>
<body>
<div th:text="${word.getEngWord()}">Word 1</div>
<div><img th:src="${word.getPicUrl()}" width="128" height="128" alt="" title="" class="img-small"></div>
<div th:text="${word.getRusWord()}">Word 2</div>
<div>
    <form th:method="post" th:action="@{/tasks/learn}">
        <input type="submit" value="Следующее слово">
    </form>
</div>
<div><a href="/tasks">Закончить</a></div>
<a style="position: absolute; bottom: 5px" th:text="${word.getAuthorText()}"
   href="https://www.flaticon.com/ru/free-icons/-">Author text</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>